<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread][%8.-8X{jfxApplication}/%8.-8X{jfxInstance}] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <springProfile name="dev">
        <logger name="com.gluonhqjfxapps" level="ERROR"/>
        
        <logger name="com.gluonhq.jfxapps.core.api" level="DEBUG"/>
        <logger name="com.gluonhq.jfxapps.core.ui" level="DEBUG"/>
        <logger name="com.gluonhq.jfxapps.ext.scenicview" level="DEBUG"/>
        
        
        <logger name="org.springframework" level="ERROR"/>
        <logger name="org.springframework.aop" level="ERROR"/>
        <logger name="org.springframework.orm.jpa" level="ERROR"/>
        
        
        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    
    <springProfile name="!dev">
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>