<configuration>
    <appender name="TIME_BASED_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${java.io.tmpdir}/scenebuilder-${version}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${java.io.tmpdir}/scenebuilder-${version}.%i.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread][%X{scope}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread][%X{scope}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="com.oracle.javafx.scenebuilder.api.action" level="DEBUG"/>
    
    <root level="ERROR">
        <appender-ref ref="TIME_BASED_FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>