.store-app-card-hbox {
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #E5EDF0, #D5E3E6);
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-color: white;
	-fx-border-width: 0;
	-fx-font-size: 1.5em;
}

.store-app-card-vbox {}

.store-app-card-image-rectangle {
	/* size is set in fxml, css don't support that yet :( 
	-fx-arc-height: 30px;
	-fx-arc-width: 30px;
	-fx-effect: dropshadow(three-pass-box, rgb(100, 100, 100), 20, 0, 0, 15);*/
}

.store-app-card-title-hbox {
	/*-fx-alignment: center_left;
	-fx-border-width: 1;*/
	-fx-border-color: white;
	-fx-border-width: 0 0 1 0;
	
}

.store-app-card-title {
	/* -fx-max-width: Infinity; */
	-fx-font-size: 1em;
	-fx-font-weight: bold;
	-fx-text-fill: black;
	
}
.store-app-card-description {
	-fx-font-size: 0.8em;
	-fx-text-fill: black;
}

.store-app-card-install-button {
	/*-fx-max-width: 60;
	-fx-max-height: 20;
	-fx-min-width: 60;
	-fx-min-height: 20;
	-fx-alignment: right;
	-fx-shape:"M10,0 L60,0 A1,1,1,0,1,60,10 L100,10 L10,10 A1,1,1,0,1,10,0 Z";
	-fx-effect: dropshadow(three-pass-box, rgb(100, 100, 100), 2, 0, 1, 2);*/
	-fx-font-size: 0.6em;
	-fx-text-fill: black;
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #01A3FF, #00ACF8);
}

.store-app-card-install-button:hover {
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #00A0F0, #00A0F4);
}
.store-app-card-install-button:pressed {
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #00ACF8, #01A3FF);
}

.store-app-card-changelog-link{
	-fx-font-size: 0.6em;
	-fx-text-fill: blue;
}
