.store-vbox {
	-fx-background-color: radial-gradient(focus-angle 0deg , focus-distance -80% , center 0% -10% , radius 100% , #d5e3e6 30%, #72adaa 80%, #293950);
    /*-fx-background-color: transparent;*/
    -fx-padding: 40;
}

.store-item-hbox {
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #E5EDF0, #D5E3E6);
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-color: white;
	-fx-border-width: 0;
	-fx-font-size: 1.5em;
}

/* .store-item-vbox {} */

/* .store-item-image-rectangle {} */

.store-item-title-hbox {
	/*-fx-alignment: center_left;
	-fx-border-width: 1;*/
	-fx-border-color: white;
	-fx-border-width: 0 0 1 0;
	
}

.store-item-title {
	-fx-font-size: 1em;
	-fx-font-weight: bold;
	-fx-text-fill: black;
	
}
.store-item-description {
	-fx-font-size: 0.8em;
	-fx-text-fill: black;
}

/* .store-item-install-button {} */

.store-item-version {}

.store-item-current-version {
	-fx-font-size: 0.5em;
	-fx-text-fill: black;
}

.store-item-changelog-link{
	-fx-font-size: 0.6em;
	-fx-text-fill: blue;
}


.store-title-hbox {
	-fx-alignment: center_left;
	-fx-pref-height: 60;
}

.store-title-label {
	-fx-font-size: 3em;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-effect: dropshadow(three-pass-box, rgb(100, 100, 100), 2, 0, 1, 2);
}

.store-search-hbox {
	-fx-alignment: center;
	-fx-spacing: 20;
	-fx-border-width: 1 0 1 0;
	-fx-border-color: #FFFFFF77;
}

.store-search-textfield {
	-fx-background-color: white;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-color: rgb(255, 255, 255);
	-fx-border-width: 1;
	-fx-padding: 5;
	-fx-font-size: 1.5em;
	-fx-effect: dropshadow(three-pass-box, rgb(100, 100, 100), 2, 0, 1, 2);
}

.store-search-button {  
	-fx-pref-height: 40;
	-fx-pref-width: 60;
	-fx-spacing: 20;
	-fx-alignment: center;
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #01A3FF, #00ACF8);
	-fx-shape:"M10,0 L25,0 A1,1,1,0,1,25,20 L25,20,10,20 A1,1,1,0,1,10,0 Z";
	-fx-effect: dropshadow(three-pass-box, rgb(100, 100, 100), 2, 0, 1, 2);
	
}

.store-searchresults-vbox {
	
}

.store-searchresults-title-hbox {
	-fx-alignment: center_left;
	-fx-pref-height: 60;
}

.store-searchresults-title-label {
	-fx-font-size: 2em;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-effect: dropshadow(three-pass-box, rgb(100, 100, 100), 2, 0, 1, 2);
}

.store-searchresults-listview {
	-fx-padding: 20 20 20 30;
	-fx-background-color: #ECF7FB;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-color: rgb(255, 255, 255);
	-fx-border-width: 1;
	-fx-effect: dropshadow(three-pass-box, rgb(100, 100, 100), 2, 0, 1, 2);

}

.store-searchresults-listview .list-cell {
	-fx-background-color: #ECF7FB;
	/* -fx-cell-size: 100; */
	-fx-alignment: center;
	-fx-padding: 0 20 10 0;
}
